*{
    margin: 0;
}
/* body{background-color: #f7f1ef;} */

/* header style */
nav{
  background-color: #eae1e1;
  display: flex
;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
nav h1{
    position: absolute;
    left: 50px;
    color: #7f4743;
    font-size: 40px;

}
nav ul{
    list-style: none;
    display: flex
;
    justify-content: center;
    gap: 15%;
    font-size: 20px;
    align-items: center;
}
nav a{
        color: #7f4743;
        text-decoration: none;
        font-weight: 800;font-size: 20px;
}
nav a:hover{
    color: rgb(213, 87, 9);
    text-decoration: none;
    /* font-style: italic; */
    font-size: 30px;
    font-weight: bold;
}
.cart{
    position: absolute;
    right: 50px;
    display: flex;gap: 30px;
}
.slider{
    position: relative;
}
.slider button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
    margin: 0 50px;
}
.slider button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    
}
.slider img{
    width: 100%;
    height: 500px;
    /* object-fit: fill; */
}
.next_btn{right:0;}


/* end header style */

/* start main section */
.products_section  h2{
text-align: center;
color: coral;margin: 2%;
    font-size: 50px;

}
.products_section .buttons{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.buttons button{
background-color: #7f4743;
color: white;
border: none;
border-radius: 10px;
height: 2rem;
width: 10rem;
font-weight: bolder;
}
.buttons button:hover{
background-color: chocolate;
height: 2.2rem;width: 11rem; cursor: pointer;
transition: .7s;
}
.products {
    display: flex;
     flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}
.products .card{
    width: 300px;
    text-align: center;
    /* border: 2px solid; */
    border-radius: 2rem;
    margin: 15px;
    box-shadow: 2px 2px 5px #7f4743,-2px -2px 5px #7f4743;
    background-color: #e3e2db30;

}
/* .card:hover{
  transform: scale(1.1);
  transition: 1s;
} */

.products div img{
  height: 300px;
    width: 300px;


  }
.card h3,p{
  color: #575353;
  margin: 10px;
}
    .cartDetailDiv{
      display: flex;    justify-content: space-evenly;
      margin: 10px;
    }
    .cartDetailDiv button{
      border-radius: 50px;
      background-color: #7f4743;
      height: 30px;
      width: 100px;
      border: navajowhite;
      color: beige;
      font-weight: bold;
      margin: 10px;

    }
    .cartDetailDiv button:hover{
      background-color:chocolate ;
      cursor: pointer;;transform: scale(1.1);
      transition: 1s;
    }
    
    .cartDetailDiv p{
      font-size: 25px;
      color: #7f4743;
      margin: 10;
  }
    
    
/* end main section */

footer{
    background-color: #f7f7f7!important;
    color: white;
    height: 250px;
  }

hr{margin-top: 40px;}
footer p{
  text-align: center;
}
 
  /* .footer-link {text-decoration: none;
color: chocolate;
font-weight: bold;} */
.row{
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
}
.footer-col li{
  list-style: none;

}
.footer-col a{
text-decoration: none;
/* color:  #845460; */
color: darkslategray;
;
}
.footer-col h4{
color: #7f4743;
font-size: 20px;
margin-top: 30px;
}